// Extract all the parameters from the RNAseq.nf script and paste them in this separate params.config file. 
// Define project parameters needed for running the pipeline
params {

    // General parameters
    params.datadir = "$launchDir/../../data"
    params.outdir = "$launchDir/results"

    // Input parameters
    params.reads = "${params.datadir}/*{1,2}.fq.gz"
    params.genome = "${params.datadir}/ggal_1_48850000_49020000.Ggal71.500bpflank.fa"
    params.gtf = "${params.datadir}/ggal_1_48850000_49020000.bed.gff"

    // Trimmomatic
    params.slidingwindow = "SLIDINGWINDOW:4:15"
    params.avgqual = "AVGQUAL:30"

    // Star
    params.threads = 2
    params.genomeSAindexNbases = 10
    params.lengthreads = 98

}